.movie {
  border: 1px #ccc solid;
  padding: 2rem;
  margin: 1rem;
  position: relative;
}

p {
  font-size: 18px;
}

.error {
  padding: 1rem;
  color: red;
  border: 1px red solid;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: black;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



.form {
  width: 50%; 
  padding: 20px; 
}

.form_input {
  width: 100%; 
  margin-bottom: 10px; 
}

.cobutton {
  width: 100px; 
  text-align: center; 
}

.cobutton {
  background: rgb(38, 193, 38);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
  margin: 6px;
  text-decoration: solid;
  text-transform: uppercase;
}

.cardicon {
  height: 20%; 
  width: 20%; 
}

.add-cta {
  display: block; 
  margin-top: 1rem;  
}
